* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(182, 138, 223);
    padding-top: 80px;
}

.card {
    width: 90%;
    max-width: 500px;
    background: white;
    border-radius: 10px;
    padding: 20px 10px 5px 15px;
}

.heading_name h2 {
    display: inline-block;
    font-size: 25px;
    /* border: 1px solid black; */
}

.heading_name img {
    width: 30px;
    /* border: 1px solid red; */
}

.search_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    margin-top: 20px;
    /* border: 2px solid red; */

}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    /* border: 2px solid red; */
}

.btn {
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    /* border: 1px solid black; */
}


ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


ul li::before {
    content: '';
    background-image: url(images/unchecked.png);
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;

}

ul li.checked {
    color: #555;
    text-decoration: line-through;

}

ul li.checked::before {
    background-image: url(./images/checked.png);
}


ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
}

ul li span:hover {
    background: rgba(128, 128, 128, 0.368);
}